<nav class="sidebar">
    <div>
        <h1>
            <a href="/index.html" class="logo"> WealthFlow </a>
        </h1>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="WealthFlow-Frontend/index.html" class="nav-link" id="dashboard-link">Dashboard</a>
            </li>
            <li class="nav-item">
                <a href="WealthFlow-Frontend/analytics.html" class="nav-link" id="analytics-link">Analytics</a>
            </li>
            <li class="nav-item">
                <a href="WealthFlow-Frontend/products.html" class="nav-link" id="products-link">Products</a>
            </li>
            <li class="nav-item">
                <a href="WealthFlow-Frontend/currency.html" class="nav-link" id="currency-link">Currency Converter</a>
            </li>
            <li class="nav-item">
                <a href="WealthFlow-Frontend/news.html" class="nav-link" id="news-link">Trending News</a>
            </li>
            <li class="nav-item">
                <a href="WealthFlow-Frontend/about.html" class="nav-link" id="about-link">About Us</a>
            </li>
        </ul>
    </div>
    <button id="signOutButton" class="btn btn-dark">Sign Out</button>
</nav>
